<div class="container edit-container">
    <h1>here you can edit your profile</h1>
     <form method="post">
         {{#userInfo}}
        <p class="warning" style="visibility: {{addVisibility}}">Something went wrong. Please, try again</p>
        <input class="name first" type="text" name="first" placeholder="first name" value="{{first}}">
        <input class="name last" type="text" name="last" placeholder="last name" value="{{last}}">
        <input class="email" type="text" name="email" placeholder="email address" value="{{email}}">
        <input class="password" type="text" name="password" placeholder="password">
        <input class="age" type="text" name="age" placeholder="age" value="{{age}}">
        <input class="city" type="text" name="city" placeholder="city" value="{{city}}">
        <input class="url" type="text" name="url" placeholder="https://your-hompage.com" title="https:// or http://">
        {{/userInfo}}
        <input type="hidden" name="_csrf" value="{{csrfToken}}">
        <button type="submit">update</button>
    </form>
</div>