<div class="container signers-container">
    <div class="text-container-signers">
        <h1>meet other proud signers!</h1>
        <div class="list">
        {{#signers}}
            {{#if url}}
                <h3><a href="{{url}}" target="_blank">{{first}} {{last}}</a>{{#if age}}__{{age}}{{/if}}{{#if city}}<a href="/signers/{{city}}">__{{city}}</a>{{/if}}
                </h3>
            {{else}}
                <h3>{{first}} {{last}}{{#if age}}__{{age}}{{/if}}{{#if city}}<a href="/signers/{{city}}">__{{city}}</a>{{/if}}
                </h3>
            {{/if}}
        {{/signers}}   
        </div>
        <p>scroll down to see everyone</p>
         
    </div>
    <div class="nav">
        {{>logout notEdit=true}}
        <a href="/thanks">back</a>
    </div>    
</div>
<div class="dragon-container" id="dragon-signers">
        <img class="dragon" src="/images/dragon-signers2.png" alt="somedragon">
</div>