<div class="container signers-container">
    <div class="signers">
        <h1>meet other proud signers!</h1>
        {{#signers}}
            {{#if url}}
                <h3><a href="{{url}}" target="_blank">{{first}} {{last}}</a>{{#if age}}, {{age}}{{/if}}
                {{#if city}}, <a href="/signers/{{city}}">{{city}}</a>{{/if}}
                </h3>
            {{else}}
                <h3>{{first}} {{last}}{{#if age}}, {{age}}{{/if}}
                {{#if city}}, <a href="/signers/{{city}}">{{city}}</a>{{/if}}
                </h3>
            {{/if}}
        {{/signers}}   
    </div>
    <div class="nav">
        {{>logout notEdit=true}}
    </div>    
</div>
